{% extends 'paired-models_template.html' %}
{% load static %}

{% block custom_style %}
<style>
    body {
        font-size: 0.8rem;
    }
</style>
{% endblock %}


{% block dataset_name %}
<h3>{{ title }}</h3>
{% endblock %}

{% block feature_A1 %}
<p>
    
    {% if obj_A == None %}
    I am no body!
    {% else %}
    My name is {{ obj_A.name }}!
    {% endif %}
</p>

{% endblock %}

{% block feature_A2 %}
<p>
    {% if obj_A == None %}
    {% else %}
    I'm {{ obj_A.race }}
    {% endif %}
</p>
{% endblock %}

{% block feature_A3 %}
<p>
    {% if obj_A == None %}
    {% else %}
    I'm {{ obj_A.age }} years old
    {% endif %}
</p>
{% endblock %}

{% block feature_A4 %}
{% endblock %}

{% block image_A %}
<div class="container-fluid d-flex justify-content-center align-items-center">
                            
    <img src="/static/imgs/loan-allocation-detail.jpg" style="height: auto; width: 70%;">
   
</div>

{% endblock %}

{% block feature_A5 %}
{% endblock %}

{% block feature_A6 %}
{% endblock %}

{% block feature_A7 %}
<p>
    {% if obj_A == None %}
    {% else %}
    My repayment rate is {{ obj_A.repayment_rate }}%
    {% endif %}
</p>
{% endblock %}

{% block feature_A8 %}
{% endblock %}

{% block feature_B1 %}

<p>
    My name is 
    {% if obj_B == None %}
    None!
    {% else %}
    {{ obj_B.name }}!
    {% endif %}
</p>

{% endblock %}

{% block feature_B2 %}
<p>
    {% if obj_B == None %}
    {% else %}
    I'm {{ obj_B.race }}
    {% endif %}
</p>
{% endblock %}

{% block feature_B3 %}
<p>
    {% if obj_B == None %}
    {% else %}
    I'm {{ obj_B.age }} years old
    {% endif %}
</p>
{% endblock %}

{% block feature_B4 %}
{% endblock %}

{% block image_B %}
<div class="container-fluid d-flex justify-content-center align-items-center">
                            
    <img src="/static/imgs/loan-allocation-detail-2.jpg" style="height: auto; width: 80%;">
   
</div>
{% endblock %}

{% block feature_B5 %}
{% endblock %}

{% block feature_B6 %}
{% endblock %}

{% block feature_B7 %}
<p>
    {% if obj_B == None %}
    {% else %}
    My repayment rate is {{ obj_B.repayment_rate }}%
    {% endif %}
</p>
{% endblock %}

{% block feature_B8 %}
{% endblock %}

{% block model1_result %}
<p>
    ( Split ${{ obj_A.located_money_1 }} to {{ obj_A.name }}, <br>
    ${{ obj_B.located_money_1 }} to {{ obj_B.name }}, <br>
    with $100 in total )
</p>
{% endblock %}

  {% block model2_result %}
  <p>
    ( Split ${{ obj_A.located_money_2 }} to {{ obj_A.name }}, <br>
    ${{ obj_B.located_money_2 }} to {{ obj_B.name }}, <br>
    with $100 in total )
</p>
  {% endblock %}