<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Machine Learning Fairness</title>

  <!-- Bootstrap4 -->
  <link href="/static/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/bootstrap-extension/css/4.5.1/bootstrap-extension.min.css" type="text/css">

  <!-- DataTable -->
  <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/>

  <!-- Global Style -->
  <style>
  #id_content {
    height: calc(100vh - 56px);
  }
  </style>

  <!-- Custom Style -->
  {% block custom_style %}
  {% endblock %}

</head>

{% block body %}
<body id="id_body">
  <nav class="navbar navbar-expand-lg navbar-dark navbar-static-top" style="background-color: #553C7B;">
    <a class="navbar-brand" href="/">Fairness Machine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/survey">Survey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/data">Data</a>
      </li>
      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      -->
  </nav>
<div class="container-fluid" id="id_content" style="background-color: #e0f2f1;">
  {% block content %}
  {% endblock %}
</div>


{% block scripts %}
<!-- JQuery-3.1.0 -->
<script src="/static/jquery/jquery-3.1.0.min.js"></script>
<!--<script src="/static/jquery/jquery-migrate-3.1.0.min.js"></script>-->

<!-- Bootstrap core JavaScript -->
<script src="/static/bootstrap4/js/bootstrap.min.js"></script>
<script src="/static/bootstrap-extension/js/4.5.1/bootstrap-extension.min.js"></script>

<!-- DataTable -->
<script type="text/javascript" src="/static/DataTables/datatables.min.js"></script>
{% endblock %}

{% block custom_scripts %}
{% endblock %}

</body>
{% endblock %}
</html>
