{% extends 'base.html' %}
{% load static %}

  <!-- About Section -->
  
  {% block about %}
  <!--
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Description</h2>
          <p class="text-white-50">
              A breif website description goes here.
          </p>
        </div>
      </div>
      <img src="/static/img/ipad.png" class="img-fluid" alt="">
    </div>
  </section>
  -->
  {% endblock %}

  <!-- Scenario Section -->
  {% block scenario %}
  <section id="scenario" class="contact-section bg-black" style="height: calv(100vh);">
    <div class="container">

      <h1 class="text-light text-center">Scenario</h1>

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              
              <h4 class="text-uppercase m-0">Loan Allocation</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a class="btn btn-primary" href="/scenarios/loan_allocation">Goto <br> Questions</a> 
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              
              <h4 class="text-uppercase m-0">Bail Judgement</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a class="btn btn-primary" href="/scenarios/bail_judgement">Goto <br> Questions</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              
              <h4 class="text-uppercase m-0">University Admission</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a class="btn btn-primary" href="/scenarios/university_admission">Goto <br> Questions</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              
              <h4 class="text-uppercase m-0"></h4>
              <hr class="my-4">
              <div class="small text-black-50"></div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              
              <h4 class="text-uppercase m-0"></h4>
              <hr class="my-4">
              <div class="small text-black-50"></div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              
              <h4 class="text-uppercase m-0"></h4>
              <hr class="my-4">
              <div class="small text-black-50"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  {% endblock %}

  <!-- Signup Section -->
  {% block signup %}
  <!--
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </section>
  -->
  {% endblock %}

  <!-- Contact Section -->
  {% block contact %}
  <section class="contact-section bg-black">
    <div class="container">

      <h1 class="text-light text-center">Contact</h1>

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">School</h4>
              <hr class="my-4">
              <div class="small text-black-50">University of California, Santa Cruz</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                advisor: <a href="#">yangliu@ucsc.edu</a>
              </div>
              <div class="small text-black-50">
                author: <a href="#">jbai14@ucsc.edu</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <!--
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        -->
        <a href="https://github.com/Jianqiubaiwork/202001_UCSC_MasterProject" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>
  {% endblock %}

  <!-- Footer -->
  {% block footer %}
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Your Website 2020
    </div>
  </footer>
  {% endblock %}
