{% extends 'basis/base.html' %}
{% load static %}

  <!-- Design Section -->
  {% block design %}
  <section id="design" class="contact-section bg-black" style="height: calv(100vh);">
    <div class="container">

      <h1 class="text-light text-center">Design</h1>

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              
              <h4 class="text-uppercase m-0">Loan Allocation</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a class="btn btn-primary" href="/design/loan_allocation_design">Goto <br> Design</a> 
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              
              <h4 class="text-uppercase m-0">Bail Judgement</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a class="btn btn-primary" href="/design/bail_judgement_design">Goto <br> Design</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              
              <h4 class="text-uppercase m-0">University Admission</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a class="btn btn-primary" href="/design/university_admission_design">Goto <br> Design</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  {% endblock %}

  <!-- Survey Section -->
  {% block survey %}
  <section id="survey" class="contact-section bg-black" style="height: calv(100vh);">
    <div class="container">

      <h1 class="text-light text-center">Survey</h1>

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              
              <h4 class="text-uppercase m-0">Loan Allocation</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a class="btn btn-primary" href="/survey/loan_allocation_survey">Goto <br> Survey</a> 
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              
              <h4 class="text-uppercase m-0">Bail Judgement</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a class="btn btn-primary" href="/survey/bail_judgement_survey">Goto <br> Survey</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              
              <h4 class="text-uppercase m-0">University Admission</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a class="btn btn-primary" href="/survey/university_admission_survey">Goto <br> Survey</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  {% endblock %}

  <!-- Author Section -->
  {% block author %}
  <section class="contact-section bg-black">
    <div class="container">

      <h1 class="text-light text-center">Author</h1>

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <!--<i class="fas fa-map-marked-alt text-primary mb-2"></i>-->
              <svg class="bi bi-people-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 008 15a6.987 6.987 0 005.468-2.63z"/>
                <path fill-rule="evenodd" d="M8 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M8 1a7 7 0 100 14A7 7 0 008 1zM0 8a8 8 0 1116 0A8 8 0 010 8z" clip-rule="evenodd"/>
              </svg>
              <h4 class="text-uppercase m-0">Author</h4>
              <hr class="my-4">
              <div class="small text-black-50">Jianqiu Bai</div>
              <div class="small text-black-50">jbai14@ucsc.edu</div>
              <div class="small text-black-50">University of California, Santa Cruz</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <!--<i class="fas fa-envelope text-primary mb-2"></i>-->
              <svg class="bi bi-people-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 100-6 3 3 0 000 6zm-5.784 6A2.238 2.238 0 015 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 005 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" clip-rule="evenodd"/>
              </svg>
              <h4 class="text-uppercase m-0">Advisor</h4>
              <hr class="my-4">
              <div class="small text-black-50">Yang Liu</div>
              <div class="small text-black-50">yangliu@ucsc.edu</div>
              <div class="small text-black-50">University of California, Santa Cruz</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <!--<i class="fas fa-envelope text-primary mb-2"></i>-->
              <svg class="bi bi-people-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 100-6 3 3 0 000 6zm-5.784 6A2.238 2.238 0 015 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 005 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" clip-rule="evenodd"/>
              </svg>
              <h4 class="text-uppercase m-0">Advisor</h4>
              <hr class="my-4">
              <div class="small text-black-50">James Davis</div>
              <div class="small text-black-50">davis@cs.ucsc.edu</div>
              <div class="small text-black-50">University of California, Santa Cruz</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <!--
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        -->
        <a href="https://github.com/Jianqiubaiwork/202001_UCSC_MasterProject" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>
  {% endblock %}

  <!-- Footer -->
  {% block footer %}
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; BSOE @ UCSC
    </div>
  </footer>
  {% endblock %}
