{% extends "base.html" %}
{% load static %}

{% block css_customs %}
<style>
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .image {
  opacity: 0.3;
}

.img-container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
}
</style>
{% endblock %}

{% block header %}
{% endblock %}

  <!-- Surveys Section -->
  {% block surveys %}
  <section id="id_models" class="projects-section bg-dark">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7 img-container">
          
          <img class="img-fluid mb-3 mb-lg-0 image" src="/static/thirdparty/img/ipad.png" alt="">
          <div class="middle">
            <div class="text">
              <button class="btn btn-primary">
                <a href="/bail_judgement/survey">Your Survey</a>
              </button>
            </div>
          </div>
          
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left text-white">
            <h4>Bail Judgement | Models</h4>
            <p class="text-white-50 mb-0">Pre-trained models for learning bail judgement based on our database</p>
          </div>
        </div>
      </div>

      {% for trained_model in trained_models %}
        {% if trained_model.id|divisibleby:2 %}
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <!--
            <img class="img-fluid" src="/static/thirdpary/img/demo-image-01.jpg" alt="">
            -->
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Model {{ trained_model.id }} | {{ trained_model.name }}</h4>
                  <p class="mb-0 text-white-50">
                    {{ trained_model.description }}
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <!--
            <img class="img-fluid" src="/static/thirdpary/img/demo-image-02.jpg" alt="">
            -->
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Model {{ trained_model.id }} | {{ trained_model.name }}</h4>
                  <p class="mb-0 text-white-50">
                    {{ trained_model.description }}
                  </p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
    
  {% endblock %}