{% extends 'single-model_template.html' %}
{% load static %}

{% block custom_style %}
{% endblock %}


{% block dataset_name %}
<h3>{{ title }}</h3>
{% endblock %}

{% block feature_1 %}

{% endblock %}

{% block feature_2 %}

{% endblock %}

{% block feature_3 %}

{% endblock %}

{% block feature_4 %}
{% endblock %}

{% block image %}
{% endblock %}

{% block feature_5 %}
{% endblock %}

{% block feature_6 %}
{% endblock %}

{% block feature_7 %}
{% endblock %}

{% block feature_8 %}
{% endblock %}
