{% extends 'paired-models_template.html' %}
{% load static %}

{% block dataset_name %}
{{ MEDIA_ROOT }}
{% endblock %}

{% block feature_A1 %}
{% endblock %}

{% block feature_A2 %}
{% endblock %}

{% block feature_A3 %}
{% endblock %}

{% block feature_A4 %}
{% endblock %}

{% block image_A %}

{% endblock %}

{% block feature_A5 %}
{% endblock %}

{% block feature_A6 %}
{% endblock %}

{% block feature_A7 %}
{% endblock %}

{% block feature_A8 %}
{% endblock %}

{% block feature_B1 %}
{% endblock %}

{% block feature_B2 %}
{% endblock %}

{% block feature_B3 %}
{% endblock %}

{% block feature_B4 %}
{% endblock %}

{% block image_B %}

{% endblock %}

{% block feature_B5 %}
{% endblock %}

{% block feature_B6 %}
{% endblock %}

{% block feature_B7 %}
{% endblock %}

{% block feature_B8 %}
{% endblock %}